---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: image-updater
  labels:
    app: watchclub
    component: image-updater

---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: image-updater
  labels:
    app: watchclub
    component: image-updater
rules:
- apiGroups: ["apps"]
  resources: ["statefulsets", "deployments"]
  verbs: ["get", "patch"]

---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: image-updater
  labels:
    app: watchclub
    component: image-updater
subjects:
- kind: ServiceAccount
  name: image-updater
roleRef:
  kind: Role
  name: image-updater
  apiGroup: rbac.authorization.k8s.io

---
apiVersion: batch/v1
kind: CronJob
metadata:
  name: image-updater
  labels:
    app: watchclub
    component: image-updater
spec:
  schedule: "*/5 * * * *"  # Every 5 minutes
  successfulJobsHistoryLimit: 3
  failedJobsHistoryLimit: 3
  concurrencyPolicy: Forbid
  jobTemplate:
    spec:
      template:
        metadata:
          labels:
            app: watchclub
            component: image-updater
        spec:
          serviceAccountName: image-updater
          restartPolicy: OnFailure
          imagePullSecrets:
          - name: ghcr-credentials
          volumes:
          - name: docker-config
            secret:
              secretName: ghcr-credentials
              items:
              - key: .dockerconfigjson
                path: config.json
          containers:
          - name: updater
            image: ghcr.io/cartermckinnon/watchclub/image-updater:dev
            imagePullPolicy: Always
            env:
            - name: DOCKER_CONFIG
              value: /docker-config
            volumeMounts:
            - name: docker-config
              mountPath: /docker-config
              readOnly: true
            command:
            - bash
            - -c
            - |
              set -o errexit
              NAMESPACE=$(cat /var/run/secrets/kubernetes.io/serviceaccount/namespace)
              update-image.sh $NAMESPACE "statefulset" "backend" "server" "ghcr.io/cartermckinnon/watchclub" "dev"
              update-image.sh $NAMESPACE "deployment" "frontend" "nginx" "ghcr.io/cartermckinnon/watchclub/ui" "dev"
