apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: watchclub-dev

resources:
- ../../base
- image-updater.yaml

commonLabels:
  environment: dev

patches:
- target:
    kind: StatefulSet
    name: backend
  patch: |-
    - op: replace
      path: /spec/template/spec/containers/0/image
      value: ghcr.io/cartermckinnon/watchclub:dev
    - op: replace
      path: /spec/template/spec/containers/0/args
      value:
        - server
        - --address=:8080
        - --storage=memory

- target:
    kind: Deployment
    name: frontend
  patch: |-
    - op: replace
      path: /spec/replicas
      value: 1
    - op: replace
      path: /spec/template/spec/containers/0/image
      value: ghcr.io/cartermckinnon/watchclub/ui:dev

- target:
    kind: Ingress
    name: watchclub
  patch: |-
    - op: replace
      path: /spec/rules/0/host
      value: watchclub-dev.squad.gay
