apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: watchclub-dev

resources:
- ../../base

commonLabels:
  environment: dev

patches:
- target:
    kind: StatefulSet
    name: backend
  patch: |-
    - op: replace
      path: /spec/template/spec/containers/0/image
      value: ghcr.io/cartermckinnon/watchclub:dev
    - op: replace
      path: /spec/template/spec/containers/0/args/3
      value: --base-url=https://watchclub-dev.squad.gay/

- target:
    kind: Deployment
    name: frontend
  patch: |-
    - op: replace
      path: /spec/replicas
      value: 1
    - op: replace
      path: /spec/template/spec/containers/0/image
      value: ghcr.io/cartermckinnon/watchclub/ui:dev

- target:
    kind: Ingress
    name: watchclub
  patch: |-
    - op: replace
      path: /spec/rules/0/host
      value: watchclub-dev.squad.gay

- target:
    kind: CronJob
    name: image-updater
  patch: |-
    - op: replace
      path: /spec/jobTemplate/spec/template/spec/containers/0/image
      value: ghcr.io/cartermckinnon/watchclub/image-updater:dev
    - op: replace
      path: /spec/jobTemplate/spec/template/spec/containers/0/command
      value:
        - bash
        - -c
        - |
          set -o errexit
          NAMESPACE=$(cat /var/run/secrets/kubernetes.io/serviceaccount/namespace)
          update-image.sh $NAMESPACE "statefulset" "backend" "server" "ghcr.io/cartermckinnon/watchclub" "dev"
          update-image.sh $NAMESPACE "deployment" "frontend" "nginx" "ghcr.io/cartermckinnon/watchclub/ui" "dev"
