apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: watchclub-dev

resources:
- ../../base
- image-updater.yaml
- email-secret.yaml

commonLabels:
  environment: dev

patches:
- target:
    kind: StatefulSet
    name: backend
  patch: |-
    - op: replace
      path: /spec/template/spec/containers/0/image
      value: ghcr.io/cartermckinnon/watchclub:dev
    - op: add
      path: /spec/template/spec/containers/0/env
      value:
        - name: RESEND_API_KEY
          valueFrom:
            secretKeyRef:
              name: email-config
              key: resend-api-key
        - name: RESEND_FROM
          valueFrom:
            secretKeyRef:
              name: email-config
              key: resend-from
        - name: RESEND_FROM_NAME
          valueFrom:
            secretKeyRef:
              name: email-config
              key: resend-from-name
    - op: replace
      path: /spec/template/spec/containers/0/args
      value:
        - server
        - --address=:8080
        - --storage=memory
        - --base-url=https://watchclub-dev.squad.gay/
        - --resend-api-key=$(RESEND_API_KEY)
        - --resend-from=$(RESEND_FROM)
        - --resend-from-name=$(RESEND_FROM_NAME)

- target:
    kind: Deployment
    name: frontend
  patch: |-
    - op: replace
      path: /spec/replicas
      value: 1
    - op: replace
      path: /spec/template/spec/containers/0/image
      value: ghcr.io/cartermckinnon/watchclub/ui:dev

- target:
    kind: Ingress
    name: watchclub
  patch: |-
    - op: replace
      path: /spec/rules/0/host
      value: watchclub-dev.squad.gay
