apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: watchclub-dev

namePrefix: dev-

resources:
- ../../base

commonLabels:
  environment: dev

patches:
- patch: |-
    apiVersion: apps/v1
    kind: Deployment
    metadata:
      name: backend
    spec:
      replicas: 1
      template:
        spec:
          containers:
          - name: server
            image: ghcr.io/cartermckinnon/watchclub:dev
  target:
    kind: Deployment
    name: backend

- patch: |-
    apiVersion: apps/v1
    kind: Deployment
    metadata:
      name: frontend
    spec:
      replicas: 1
      template:
        spec:
          containers:
          - name: nginx
            image: ghcr.io/cartermckinnon/watchclub/ui:dev
  target:
    kind: Deployment
    name: frontend

- patch: |-
    apiVersion: networking.k8s.io/v1
    kind: Ingress
    metadata:
      name: watchclub
    spec:
      rules:
      - host: watchclub-dev.example.com
  target:
    kind: Ingress
    name: watchclub
